<script>
</script>
<div class="gal-holder">
    {{#grouped_each 2 galleries}}
        <div class="row">
            {{#each this}}
                <div class="col-md-4 col-md-offset-1">
                    <div class="gal-title">
                        <h2>{{name}}</h2>
                    </div>
                    <div class="galleria" id="index">
                        {{#each images}}
                            <img class="img-responsive center-block" src= {{this}}>
                        {{/each}}
                    </div>
                    <div class="gal-text">
                        {{text}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{/grouped_each}}
</div>
<script>
Galleria.loadTheme('lib/galleria/themes/classic/galleria.classic.min.js');
Galleria.run('.galleria');
</script>
<div class="container">
    {{#grouped_each 3 books}}
        <div class="row">
            {{#each this }}
                <div class="span4 book" data-isbn="{{ isbn }}">
                    <strong>{{ name }}</strong>
                </div>
            {{/each}}
        </div>
    {{/grouped_each}}
</div>
