<div class="news-cards row col-md-3 col-md-offset-1">
    {{#each items}}
        <div class="news-card news-card-{{@index}} panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="news-card-head">{{headline}}</span></h3><span class="news-card-date">{{date}}</span>
            </div>
            <div class="panel-body">{{content}}</div>
            <a href="{{url}}" title="read more" class="readmore"> Read more »</a>
        </div>
    {{/each}}
</div>
